<form action="/" method="post" enctype="multipart/form-data" >
<input type="file" name="file" size="40"/>
<div class="colour_names">
  <input type="text" name="green" value="GREEN" size="30"/>
  <input type="text" name="yellow" value="YELLO" size="30"/>
  <input type="text" name="magenta" value="MAGENTA" size="30"/>
  <input type="text" name="cyan" value="CYAN" size="30"/>
</div>
<input type="submit" id="submit" value="convert"/>
</form>
