<!DOCTYPE html>
<html lang="en">
<head>
  <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="css/global.css" type="text/css" media="screen, projection">
  <title>LENA</title>
</head>
<body>
  <div id="content">
      <h1>Lena - ScriptParser </h1>
      <% if @error %>
        <div class="error">
          <%= @error %>
        </div>
      <% end %>
      <%= yield %>
  </div>
</body>
</html>