/* @override http://localhost:4567/css/global.css */

/* reset.css */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, nav, section {margin:0;padding:0;border:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;}
article, aside, dialog, figure, footer, header, hgroup, nav, section {display:block;}
body {line-height:1.5;}
table {border-collapse:separate;border-spacing:0;}
caption, th, td {text-align:left;font-weight:normal;}
table, td, th {vertical-align:middle;}
blockquote:before, blockquote:after, q:before, q:after {content:"";}
blockquote, q {quotes:"" "";}
a img {border:none;}

h1 {
	font: 60px/100px 'Lobster', arial, serif;
	color: #62aa06;
	
}
h3{
	font: bold 17px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	padding-top: 20px;
}
#content {
	width: 920px;
	margin-left: auto;
	margin-right: auto;
	height: 130px;
}

.error { padding: .8em; margin-bottom: 1em; border: 2px solid #ddd; }
.error { background: #FBE3E4; color: #8a1f11; border-color: #FBC2C4; }


ul li{
	list-style-type: none;
}

li#Yellow {
	color: #ffff00;
	
}
li#magenta{
	color: #ff00ff;
}

ul.speakerColours li{
	background-color: #000;
	width: 150px;
	padding: 2px;
	margin-top: 3px;
	margin-bottom: 3px;
	font-family: Arial, Arial, Helvetica, sans-serif;
}

li#Cyan {
	color: #00ffff;
	background-color: #000;
	width: 150px;
}

li#green {
	color: #0f0;
	background-color: #000;
	width: 150px;
}